@import '../../variables';

.empty-container-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: $primary-font-color;
  font-size: 34px;
  font-family: 'Pacifico', sans-serif;

  i {
    color: $primary-color;
    font-size: 140px;
    margin: 0 0 24px 0;
  }
}
