@import '../../../variables';

.document-layout-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 40px 0 0 0;

  &__card {
    width: 600px;
    height: 400px;
    background: $primary-font-color;
    color: $bg-dark-color;
    display: flex;
    flex-direction: column;
    align-items: center;

    .input-component {
      padding: 0 0 20px 0;
    }
    .input-component__field {
      width: 400px;
    }
    form {
      height: 100%;
    }
    &__footer {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
    }
  }
}
